.drinkImg {
  width: auto;
  height: 200px;
}

.mealImg{
  width: auto;
  height: 200px;
}
#left_menu {
  width:15vw;
  height:100vh;
  
}
div{
  box-sizing: border-box;
  float:left; 
}
#meal p {
  overflow: auto;
    height: 100px;
}
.edibles button{
  display:block;
  margin:5px;
}
button {
  transition-duration: 0.4s;
  background-color: #4CAF50; /* Green */
  border:2px solid #000000; /* Black */ ;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width:300px;
  box-sizing: border-box;
  
}
button:hover {
  background-color: #fafafa; /* White*/ 
  color: rgb(2, 2, 2);
}
.windows {
  display:none;
  flex:1; 
}
.openedMenu{
  border: 1px black solid; /*black*/
  margin:5px;
  padding:5px;
  background-color: gold;/*gold*/
  display:block;
}

body {
  background-color: lightblue;/*lightblue*/
}
.left_menu {
  background-color:purple;
}
#flexwrapper { /*Google gave me this solution*/
  display:flex;
  flex-direction:row;
}
.edibles {
  flex-direction:column;
  display:flex;
}