/* Universal CSS */
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500;
}

:root {
  --primary-color: #112d4e;
  --secondary-color: #3f72af;
  --third-color: #f9f7f7;
}

body {
  background-color: var(--third-color);
  color: #000;
}

header {
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  padding: 1rem 3rem;
  min-height: 5rem;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 800;
}

p {
  font-weight: 500;
  font-size: 18px;
}

form div label {
  font-weight: 500;
}

section button {
  margin: 1rem 0;
}
div h2 {
  text-align: center;
}

main {
  min-height: 80vh;
}

/* End of Universal CSS */

#drink p {
  overflow: auto;
  max-height: 500px;
  padding: 1rem 2rem 2rem 2rem;
}

/* Meal Display CSS */

.meal-display {
  padding: 1rem 0;
  text-align: center;
}
.drinkImg {
  width: auto;
  height: 200px;
}

.mealImg {
  width: auto;
  height: 200px;
}

#food_outcome {
  background-color: var(--third-color);
  padding: 1rem 2rem;
}

.ingredients {
  text-align: center;
  width: 90%;
}

.ingredients ol {
  width: 100%;
  height: 100%;
  margin: auto;
  list-style-type: none;
}

.ingredients ol li {
  float: left;
  width: 11em;
  margin: auto;
}

br {
  clear: left;
}

div.wrapper {
  margin-bottom: 2rem;
}

#meal p {
  overflow: auto;
  max-height: 500px;
  padding: 1rem 2rem 2rem 2rem;
}

.card {
  border: 0px black solid; /*black*/
  margin: 1rem;
  padding: 5px;
  /* background-color: gold; gold */
  display: block;
  height: max-content;
  box-shadow: -5px 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.3s;
}

.card:hover {
  box-shadow: -5px 7px 5px 7px rgba(0, 0, 0, 0.65);
}
/* End of Meal Display CSS */
/* Selection Display CSS */

#left_menu {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 1rem 2rem;
  min-height: 80vh;
}

.border {
  border-bottom: #fff solid 2px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}
/* End of Selection Display CSS */

.edibles {
  flex-direction: column;
  display: flex;
}

/* Footer Display */
footer {
  background-color: #000;
  color: #fff;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* End of Footer Display */

@media screen and (max-width: 1200px) {
  #left_menu {
    min-height: 20vh;
  }
  .ingredients ol li {
    float: none;
    width: 11em;
    margin: auto;
  }

  main {
    overflow-x: hidden;
    width: 100vw;
  }
  .border {
    border-bottom: #fff solid 2px;
    width: 80%;
    padding: 0.5rem 1rem;
    margin: 1rem auto;
  }
}
