/* Imported Font Style from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --Font-Family: font-family: 'Roboto', sans-serif;
  --Primary-Color: #004225;
  --Secondary-Color: #f5f5dc;
  --Call-To-Action-Color: #ffb000;
  --Light-Text-Color: #ffffff;
  --Dark-Text-Color: #000000;
  --Border-Radius: 15px;
  --Max-Width: 1300px;
  --Min-Width: 250px;
}

*{
  max-width: var(--Max-Width);
  width: 95%;
  min-width: var(--Min-Width);
  background: var(--Secondary-Color);
  color: var(--Dark-Text-Color);
}

h1{
  font-size: 48px;
  font-weight: 700;
}

h2{
  font-size: 40px;
  font-weight: 600;
}

h3{
  font-size: 36px;
  font-weight: 500;
}

h4{
  font-size: 28px;
  font-weight: 400;
}
p{
  font-size: 14px;
  font-weight: 400;
}